extends layout

block content
    h1 #{title}: #{book.title}
    p #[strong Delete book instances before attempting to delete this book]

    if bookInstances.length !== 0
        div(style='margin-left: 20px; margin-top: 20px')
            h4 Copies

            each bookInstance in bookInstances
                <hr>
                p ID: 
                    a(href=bookInstance.url) #{bookInstance._id}
                p Imprint: #{bookInstance.imprint}
    else
        p Do you really want to delete this book?
        form(method="POST" action="")
            div.form-group
                input#bookid.form-control(type="hidden" required="true" name="bookid" value=book._id)
            button.btn.btn-danger(type='submit') Delete